.menu-section {
  display: flex;
  flex-direction: column;;
  justify-content: center;
}

.menu-section-title > p {
  font-family: "Alex Brush";
  font-size: 35px;
  color: #172601;
  position: relative;
  top: 20px;
  margin: 0;
  padding: 0;
}

.menu-section-title > h2 {
  font-family: 'Tenali Ramakrishna';
    color: #B99867;
    font-size: 40px;
    margin: 0;
    padding: 0;
}
